spring:
  application:
    name: users
  
  datasource:
    url: ${POSTGRES_URL}
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    addresses: ${RABBITMQ_URL}
          
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - read:user
              - user:email
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            
app:
  frontend-url: ${FRONTEND_URL}
  jwt:
    secret-base-64: ${JWT_SECRET_BASE_64}
    expiration-seconds: 3600
    refresh-expiration-seconds: 604800
  cookie:
    secure: false
    same-site: Strict

server:
  forward-headers-strategy: native